html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

.header {
  margin: 15px;
}
.header a {
  text-decoration: none;
}
.header-right {
  float: right;
}
.header-right a {
  margin-left: 25px;
}
hr {
  margin-bottom: 0;
}

.headerPic {
  width: 100%;
  height: 300px;
}
.gh-issues-link {
  margin: 70px 0 30px 20px;
}

.caption-text {
  font-size: 10px;
  float: right;
  padding-right: 15px;
}

.authy-form-errors {
  padding-left: 20px;
  color: red;
}

.signup-h {
  margin: 10px 40px 0 40px;
}

.show-title {
  font-weight: bold;
  text-decoration: underline;
  font-size: 20px;
  margin-top: 45px;
}

.delete {
  border: 1px solid red;
  background-color: rgb(252, 212, 212);
  padding: .5px 3px .5px 3px;
  margin-left: 10px;
}

.auth-form-labels {
  text-align: right;
  margin-right: 10px;
}

.new-show-form-labels {
  color: purple;
  display: block;
  text-align: left;
  margin-left: 30px;
  font-size: 30px;
}

.new-show-form-button {
  margin: 25px 0 0 30px;
  height: 30px;
  background-color: rgb(178, 139, 191);
}

.show-reviews-delimeter {
  width: 75%;
}

.genre {
  font-size: 20px;
  color: purple;
}

.profile-reviews h1 {
  color: purple;
  margin-top: 60px;
}



/*Reusable classes*/
.center {
  text-align: center;
}

.left-column {
  padding-left: 20px;
}

.purple-header {
  color: purple;
  margin-top: 60px;
}

.light-purple-button {
  background-color: rgba(178, 139, 191, .4);
}

/* The Modal (background) */
.edit-profile-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.edit-profile-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
}

.close-modal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}

.close-modal:hover, .close-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*Responsive Grids*/
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }


/*  GRID OF TWO   ============================================================================= */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
	.span_2_of_2 {
		width: 100%;
	}
	.span_1_of_2 {
		width: 100%;
	}
}
/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 65.83%; }
.span_1_of_3 { width: 31.66%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}
