<div class="header">
  <a href='/'>Bay Area Theater Reviews</a>
  <span class="header-right">
    <a href='/albums'>Shows</a>
    <% if(isLoggedIn) { %>
      <a href='/users/<%- user.id %>'>Profile</a>
      <a href='/signout'>Sign out</a>
    <% } else { %>
      <a href='/signup'>Sign up</a>
      <a href='/login'>Sign in</a>
    <% } %>
  </span>
</div>
<hr>
